<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title tiles:fragment="title">E-thing</title>
        <link rel="stylesheet" type="text/css" href="../public/lib/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../public/css/loginStyle.css"/>
        <script src="../public/lib/jquery-3.1.1.min.js"></script>
        <script src="../public/lib/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui middle aligned center aligned grid" tiles:fragment="content">
            <div class="column">
                <h2 class="ui teal image header">
                    <img src="../public/img/lock.png" class="image"/>
                    <div class="content" style="color: #000;">
                        Log-in to your account
                    </div>
                </h2>  
                <form class="ui large form" name="f" th:action="@{/login}" method="post">
                    <div class="ui stacked segment">
                        <fieldset>
                            <legend>Please Login</legend>
                            <div th:if="${param.error}" class="alert alert-error">    
                                Invalid username and password.
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success"> 
                                You have been logged out.
                            </div>
                            <div class="field">
                                <input type="text" id="username" name="username" placeholder="Username"/> 
                            </div>
                            <div class="field">
                                <input type="password" id="password" name="password" placeholder="Password"/>    
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="ui fluid large teal submit button" style="background-color: #333;" >Log in</button>
                            </div>
                        </fieldset>
                    </div>
                </form>
                <div class="ui message">
                    <p>New to us? <a th:href="${registerPage}">Sign Up</a></p>
                    <p>Forgot your password? <a th:href="${rememberMePage}">Remember me</a></p>
                </div>
            </div>
        </div>
    </body>
</html>
