<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title tiles:fragment="title">E-thing</title>
        <link rel="stylesheet" type="text/css" href="../public/lib/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../public/css/homeStyle.css"/>
        <script src="../public/lib/jquery-3.1.1.min.js"></script>
        <script src="../public/lib/semantic.min.js"></script>
        <script src="../public/js/startScript.js"></script>
        <script src="../public/js/searchScript.js"></script>
    </head>
    <body>
        <div class="large ui stackable inverted menu">
            <div class="ui container">
                <a th:href="${mainPage}" class="header item">
                    <img class="logo" src="../public/img/box.png"/>
                    E-thing
                </a>
                <div class="ui simple dropdown item">
                    Menu <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" th:href="${thingaddPage}">Add Thing</a>
                        <a class="item" th:href="${userthingPage}">My Things</a>
                    </div>
                </div>
                <div class="large right ui stackable inverted menu">
                    <div class="item">
                        <div class="ui icon input">
                            <input id="searchInput" placeholder="Search..." type="text"/>
                            <i id="searchButton" class="search link icon"></i>
                        </div>
                    </div>
                    <a  id="logedInfo" class="item" th:href="${loginPage}" th:text="${loginPageText}"></a>
                    <div id="logoutInfo" class="ui simple dropdown item">
                        <i class="chevron circle down icon"></i>
                        <div class="menu">
                            <a class="item" th:href="${usersettingsPage}">Settings</a>
                            <a class="item" th:href="${logoutPage}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui main text container">
            <h1 class="ui header">User profil:</h1>
            <div class="ui form text segment container">
                <div class="ui divided items">
                    <div class="item">
                        <i class="user icon"></i>
                        <div class="content">
                            <a class="middle aligned content header" th:text="${profil.name}"></a>
                        </div>              
                    </div>
                    <div class="item">
                        <i class="mail outline icon"/>
                        <div class="content">
                            <a class="middle aligned content header" th:text="${profil.email}"></a>
                        </div>              
                    </div>
                    <div class="item">
                        <i class="empty star icon"></i>
                        <div class="content">
                            <a class="middle aligned content header" th:text="${profil.role}"></a>
                        </div>              
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br></br>
        </div>
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui stackable inverted divided grid">
                    <div class=" wide column">
                        <h4 class="ui inverted header">E-thing information</h4>
                        <p>Here you can find more information</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" >Contact Us</a>
                    <a class="item" >Terms and Conditions</a>
                    <a class="item" >Privacy Policy</a>
                </div>
            </div>
        </div>
    </body>
    <script>
        search();
        checkLoggedUser();
    </script>
</html>
