<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title tiles:fragment="title">E-thing</title>
        <link rel="stylesheet" type="text/css" href="../public/lib/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../public/css/homeStyle.css"/>
        <script src="../public/lib/jquery-3.1.1.min.js"></script>
        <script src="../public/lib/semantic.min.js"></script>
        <script src="../public/js/startScript.js"></script>
        <script src="../public/js/searchScript.js"></script>
        <script src="../public/js/edtiuserScript.js"></script>
    </head>
    <body>
        <div class="large ui stackable inverted menu">
            <div class="ui container">
                <a th:href="${mainPage}" class="header item">
                    <img class="logo" src="../public/img/box.png"/>
                    E-thing
                </a>
                <div class="ui simple dropdown item">
                    Menu <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" th:href="${thingaddPage}">Add Thing</a>
                        <a class="item" th:href="${userthingPage}">My Things</a>
                    </div>
                </div>
                <div class="large right ui stackable inverted menu">
                    <div class="item">
                        <div class="ui icon input">
                            <input id="searchInput" placeholder="Search..." type="text"/>
                            <i id="searchButton" class="search link icon"></i>
                        </div>
                    </div>
                    <a  id="logedInfo" class="item" th:href="${loginPage}" th:text="${loginPageText}"></a>
                    <div id="logoutInfo" class="ui simple dropdown item">
                        <i class="chevron circle down icon"></i>
                        <div class="menu">
                            <a class="item" th:href="${usersettingsPage}">Settings</a>
                            <a class="item" th:href="${logoutPage}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui main text container">
            <h1 class="ui header">Edit user data</h1>
            <p>Please write your new data to form</p>
            <form id="userForm" class="ui form">
                <div class="field">
                    <label><i class="child icon"></i> Nick:</label>
                    <input text="${user.name}" type="text" name="name" placeholder="name"/>
                </div>
                <div class="field">
                    <label> <i class="protect icon"></i>Password:</label>
                    <input type="password" name="password" placeholder="password"/>
                </div>
                <div class="field">
                    <label>Re-Password:</label>
                    <input type="password" name="repassword" placeholder="repassword"/>
                </div>
                <button onclick="editUser()" class="ui button" type="button">Edit <i class="save icon"></i></button>
            </form>
        </div>
        <p></p>
        <div id="editUserMessages">
            <div class="ui modal" id="editUserAcceptMessage">
                <div class="header">
                    Edit Profil Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">Do you want edit your profil data?</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui negative deny button">
                        No, thanks
                    </div>
                    <div class="ui positive right labeled icon button">
                        Yes
                        <i class="checkmark icon"></i>
                    </div>
                </div>

            </div>
     
            <div class="ui modal" id="editUserDataErrorMessage">
                <i class="close icon"></i>
                <div class="header">
                    Edit Profil Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">Error data in form</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui ok right labeled icon button">
                        Ok, thanks
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui modal" id="editUserSuccessMessage">
                <i class="close icon"></i>
                <div class="header">
                    Edit Profil Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">Profil data is change.</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui ok right labeled icon button">
                        Ok, thanks
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui stackable inverted divided grid">
                    <div class=" wide column">
                        <h4 class="ui inverted header">E-thing information</h4>
                        <p>Here you can find more information</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" >Contact Us</a>
                    <a class="item" >Terms and Conditions</a>
                    <a class="item" >Privacy Policy</a>
                </div>
            </div>
        </div>
    </body>
    <script>
        search();
        checkLoggedUser();
    </script>
</html>
