<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title tiles:fragment="title">E-thing</title>
        <link rel="stylesheet" type="text/css" href="../public/lib/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../public/css/registerStyle.css"/>
        <script src="../public/lib/jquery-3.1.1.min.js"></script>
        <script src="../public/lib/semantic.min.js"></script>
        <script src="../public/js/startScript.js"></script>
        <script src="../public/js/searchScript.js"></script>
        <script src="../public/js/registerScript.js"></script>
    </head>
    <body>
        <div class="large ui stackable inverted menu">
            <div class="ui container">
                <a th:href="${mainPage}" class="header item">
                    <img class="logo" src="../public/img/box.png"/>
                    E-thing
                </a>
                <div class="ui simple dropdown item">
                    Menu <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" th:href="${thingaddPage}">Add Thing</a>
                        <a class="item" th:href="${userthingPage}">My Things</a>
                    </div>
                </div>
                <div class="large right ui stackable inverted menu">
                    <div class="item">
                        <div class="ui icon input">
                            <input id="searchInput" placeholder="Search..." type="text"/>
                            <i id="searchButton" class="search link icon"></i>
                        </div>
                    </div>
                    <a  id="logedInfo" class="item" th:href="${loginPage}" th:text="${loginPageText}">
                    </a>
                    <div id="logoutInfo" class="ui simple dropdown item">
                        <i class="chevron circle down icon"></i>
                        <div class="menu">
                            <a class="item" th:href="${usersettingsPage}">Settings</a>
                            <a class="item" th:href="${logoutPage}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui text container">
            <h1 class="ui header">Register new user:</h1>
            <p>Please write your data to form</p>
            <div class="ui text segment container">
                <form id="userForm" class="ui form">
                    <div class="field">
                        <label> <i class="user icon"></i> Login:</label>
                        <input type="text" name="login" placeholder="login"/>
                    </div>
                    <div class="field">
                        <label> <i class="child icon"></i> Nick:</label>
                        <input type="text" name="name" placeholder="name"/>
                    </div>
                    <div class="field">
                        <label> <i class="mail outline icon"/> Email:</label>
                        <input type="text" name="email" placeholder="email"/>
                    </div>
                    <div class="field">
                        <label> <i class="protect icon"></i> Password:</label>
                        <input type="password" name="password" placeholder="password"/>
                    </div>
                    <div class="field">
                        <label>Re-Password:</label>
                        <input type="password" name="repassword" placeholder="repassword"/>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="agreeTermsAndConditions"/>
                            <label>I agree to the Terms and Conditions</label>
                        </div>
                    </div>
                    <button onclick="registerUser()" class="ui button" type="button">Submit</button>
                </form>
            </div>
        </div>
        <div id="registerMessages">
            <div class="ui modal" id="registerAcceptMessage">
                <div class="header">
                    Register Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">Do you want register?</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui negative deny button">
                        No, thanks
                    </div>
                    <div class="ui positive right labeled icon button">
                        Yes
                        <i class="checkmark icon"></i>
                    </div>
                </div>

            </div>
            <div class="ui modal" id="registerAgreeTermsMessage">
                <i class="close icon"></i>
                <div class="header">
                    Register Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">Please accept page terms and conditions.</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui ok right labeled icon button">
                        Ok, thanks
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui modal" id="registerDataErrorMessage">
                <i class="close icon"></i>
                <div class="header">
                    Register Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">Error data in form</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui ok right labeled icon button">
                        Ok, thanks
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui modal" id="registerSuccessMessage">
                <i class="close icon"></i>
                <div class="header">
                    Register Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">Register complete, please check your email to activity.</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui ok right labeled icon button">
                        Ok, thanks
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
        </div> 
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui stackable inverted divided grid">
                    <div class=" wide column">
                        <h4 class="ui inverted header">E-thing information</h4>
                        <p>Here you can find more information</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" >Contact Us</a>
                    <a class="item" >Terms and Conditions</a>
                    <a class="item" >Privacy Policy</a>
                </div>
            </div>
        </div>
    </body>
    <script>
        search();
        checkLoggedUser();
    </script>
</html>
