<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title tiles:fragment="title">E-thing</title>
        <link rel="stylesheet" type="text/css" href="../public/lib/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../public/css/homeStyle.css"/>
        <script src="../public/lib/jquery-3.1.1.min.js"></script>
        <script src="../public/lib/semantic.min.js"></script>
        <script src="../public/js/startScript.js"></script>
        <script src="../public/js/searchScript.js"></script>
        <script src="../public/js/thingaddScript.js"></script>
    </head>
    <body>
        <div class="large ui stackable inverted menu">
            <div class="ui container">
                <a th:href="${mainPage}" class="header item">
                    <img class="logo" src="../public/img/box.png"/>
                    E-thing
                </a>
                <div class="ui simple dropdown item">
                    Menu <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" th:href="${thingaddPage}">Add Thing</a>
                        <a class="item" th:href="${userthingPage}">My Things</a>
                    </div>
                </div>
                <div class="large right ui stackable inverted menu">
                    <div class="item">
                        <div class="ui icon input">
                            <input id="searchInput" placeholder="Search..." type="text"/>
                            <i id="searchButton" class="search link icon"></i>
                        </div>
                    </div>
                    <a  id="logedInfo" class="item" th:href="${loginPage}" th:text="${loginPageText}"></a>
                    <div id="logoutInfo" class="ui simple dropdown item">
                        <i class="chevron circle down icon"></i>
                        <div class="menu">
                            <a class="item" th:href="${usersettingsPage}">Settings</a>
                            <a class="item" th:href="${logoutPage}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui main text container">
            <h1 class="ui header">Add new thing:</h1>
            <form id="thingForm" class="ui form segment">
                <div class="field">
                    <label><i class="dropbox icon"></i> Name:</label>
                    <input type="text" name="name" placeholder="name"/>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label><i class="heart icon"></i>Status:</label>
                        <select id="thingStatus" name="status" class="ui fluid search dropdown" >
                            <option value="1">New</option>
                            <option value="2">Used</option>
                        </select>
                    </div>
                    <div class="field">
                        <label><i class="trophy icon"></i>Thing type:</label>
                        <select id="thingType" name="status" class="ui dropdown" >
                            <option th:each="thingtypes : ${thingtype}" th:value="${thingtypes.id}" th:text="${thingtypes.name}" ></option>
                        </select>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label><i class="newspaper icon"></i> Description Url:</label>
                        <input type="text" name="url" placeholder="url"/>
                    </div>
                    <div class="field">
                        <label>Description Url(alternative):</label>
                        <input type="text" name="url2" placeholder="url"/>
                    </div>
                </div>

                <div id="featuresForm" class="ui form segment">
                    <label><i class="empty star icon"></i>Features:</label>
                    <div class="ui green message">Positive
                        <i class="add square icon green large" onclick="addPositiveFeature()"></i>
                        <i class="minus square icon green large" onclick="deleteLastPositiveFeature()"></i>
                        <div id="positiveContener" >

                        </div>
                    </div>
                    <div class="ui grey message">Neutral
                        <i class="add square icon grey large" onclick="addNeutralFeature()"></i>
                        <i class="minus square icon grey large" onclick="deleteLastNeutralFeature()"></i>
                        <div id="neutralContener" >

                        </div>
                    </div>
                    <div class="ui red message">Negative
                        <i class="add square icon red large" onclick="addNegativeFeature()"></i>
                        <i class="minus square icon red large" onclick="deleteLastNegativeFeature()"></i>
                        <div id="negativeContener" >

                        </div>
                    </div>
                </div>
                <div class="field">
                    <label><i class="align left icon"></i>Description:</label>
                    <textarea type="text" name="description" placeholder="description"/>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input id="access" type="checkbox" name="access"/>
                        <label>Private access - users can't search your thing.</label>
                    </div>
                </div>
                <button onclick="addThing()" class="ui button" type="button">Save <i class="save icon"></i></button>
            </form>
        </div>
        <div id="registerMessages">
            <div class="ui modal" id="newThingMessage">
                <i class="close icon"></i>
                <div class="header">
                    Thing Add Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">A new thing.</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui ok right labeled icon button">
                        Ok, thanks
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui modal" id="thingDataErrorMessage">
                <i class="close icon"></i>
                <div class="header">
                    Thing Add Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">Error data in form</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui ok right labeled icon button">
                        Ok, thanks
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
        </div> 
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui stackable inverted divided grid">
                    <div class=" wide column">
                        <h4 class="ui inverted header">E-thing information</h4>
                        <p>Here you can find more information</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" >Contact Us</a>
                    <a class="item" >Terms and Conditions</a>
                    <a class="item" >Privacy Policy</a>
                </div>
            </div>
        </div>
    </body>
    <script>
        search();
        checkLoggedUser();
    </script>
</html>
