<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title tiles:fragment="title">E-thing</title>
        <link rel="stylesheet" type="text/css" href="../public/lib/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../public/css/registerStyle.css"/>
        <script src="../public/lib/jquery-3.1.1.min.js"></script>
        <script src="../public/lib/semantic.min.js"></script>
        <script src="../public/js/startScript.js"></script>
        <script src="../public/js/searchScript.js"></script>
        <script src="../public/js/thingScript.js"></script>
    </head>
    <body>
        <div class="large ui stackable inverted menu">
            <div class="ui container">
                <a th:href="${mainPage}" class="header item">
                    <img class="logo" src="../public/img/box.png"/>
                    E-thing
                </a>
                <div class="ui simple dropdown item">
                    Menu <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" th:href="${thingaddPage}">Add Thing</a>
                        <a class="item" th:href="${userthingPage}">My Things</a>
                    </div>
                </div>
                <div class="large right ui stackable inverted menu">
                    <div class="item">
                        <div class="ui icon input">
                            <input id="searchInput" placeholder="Search..." type="text"/>
                            <i id="searchButton" class="search link icon"></i>
                        </div>
                    </div>
                    <a  id="logedInfo" class="item" th:href="${loginPage}" th:text="${loginPageText}">
                    </a>
                    <div id="logoutInfo" class="ui simple dropdown item">
                        <i class="chevron circle down icon"></i>
                        <div class="menu">
                            <a class="item" th:href="${usersettingsPage}">Settings</a>
                            <a class="item" th:href="${logoutPage}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui form text segment container">
            <div class="two fields"> 
                <div class="field">
                    <label><i class="dropbox icon"></i> Name:</label><i class="ui" th:text="${thing.name}"></i>
                    <label><i class="archive icon"></i> IDHash:</label> <i class="ui" th:text="${thing.idhash}"></i>
                </div>
                <div class="field">
                    <label><i class="heart icon"></i>Status:</label> <i class="ui" th:text="${thing.status}"></i>
                    <label><i class="trophy icon"></i>Thingtype:</label> <i class="ui" th:text="${thing.thingtype.name}"></i>
                </div>
            </div>
            <div class="two fields"> 
                <div class="field">
                    <label><i class="newspaper icon"></i> Documentation urls:</label>
                    <a th:href="${thing.url}">
                        <div class="ui animated button" tabindex="0">
                            <div class="visible content">Url</div>
                            <div class="hidden content">
                                <i class="right arrow icon"></i>
                            </div>
                        </div>
                    </a>
                    <a th:if="${thing.url2}!=''" th:href="${thing.url2}">
                        <div class="ui animated button" tabindex="0">
                            <div class="visible content">Url(alt)</div>
                            <div class="hidden content">
                                <i class="right arrow icon"></i>
                            </div>
                        </div>
                    </a>
                </div>    
            </div>
            <div class="field">
                <label><i class="empty star icon"></i>Features:</label>
                <div class="ui green message"><i class="thumbs up icon"></i>Positive:
                    <div id="positiveContener" >
                        <div th:each="feature : ${featuresPos}" class="inline fields">
                            <i class="minus icon"></i>
                            <div th:text="${feature.name}"></div>
                        </div>
                    </div>
                </div>
                <div class="ui grey message"><i class="info icon"></i>Neutral:
                    <div id="neutralContener" >
                        <div th:each="feature : ${featuresNeu}" class="inline fields"><i class="minus icon"></i>
                            <div th:text="${feature.name}"></div>
                        </div>
                    </div>
                </div>
                <div class="ui red message"><i class="thumbs down icon"></i>Negative:
                    <div id="negativeContener" >
                        <div th:each="feature : ${featuresNeg}" class="inline fields"><i class="minus icon"></i>
                            <div th:text="${feature.name}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label><i class="align left icon"></i>Description:</label>
                <textarea style="resize: none;" readonly="true" type="text" th:text="${thing.description}" name="description" placeholder="description"/>
            </div>  
            <div th:if="${thingaeditPage}!='null'">
                <a  class="ui button blue" th:href="${thingaeditPage}">Edit <i class="configure icon"></i></a>
                <a onclick="deleteThing()" class="ui button red">Delete <i class="trash outline icon"></i></a>
            </div>
        </div>

        <div id="thingMessages">
            <div class="ui modal" id="deleteThingAcceptMessage">
                <div class="header">
                    Delete Thing Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">Do you want delete thing?</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui negative deny button">
                        No, thanks
                    </div>
                    <div class="ui positive right labeled icon button">
                        Yes
                        <i class="checkmark icon"></i>
                    </div>
                </div>

            </div>
        </div> 
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui stackable inverted divided grid">
                    <div class=" wide column">
                        <h4 class="ui inverted header">E-thing information</h4>
                        <p>Here you can find more information</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" >Contact Us</a>
                    <a class="item" >Terms and Conditions</a>
                    <a class="item" >Privacy Policy</a>
                </div>
            </div>
        </div>
    </body>
    <script>
        search();
        checkLoggedUser();
    </script>
</html>
