<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <title tiles:fragment="title">E-thing</title>
        <link rel="stylesheet" type="text/css" href="../public/lib/semantic.min.css"/>
        <link rel="stylesheet" type="text/css" href="../public/css/registerStyle.css"/>
        <script src="../public/lib/jquery-3.1.1.min.js"></script>
        <script src="../public/lib/semantic.min.js"></script>
        <script src="../public/js/thingeditScript.js"></script>
        <script src="../public/js/startScript.js"></script>
        <script src="../public/js/searchScript.js"></script>
    </head>
    <body>
        <div class="large ui stackable inverted menu">
            <div class="ui container">
                <a th:href="${mainPage}" class="header item">
                    <img class="logo" src="../public/img/box.png"/>
                    E-thing
                </a>
                <div class="ui simple dropdown item">
                    Menu <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" th:href="${thingaddPage}">Add Thing</a>
                        <a class="item" th:href="${userthingPage}">My Things</a>
                    </div>
                </div>
                <div class="large right ui stackable inverted menu">
                    <div class="item">
                        <div class="ui icon input">
                            <input id="searchInput" placeholder="Search..." type="text"/>
                            <i id="searchButton" class="search link icon"></i>
                        </div>
                    </div>
                    <a  id="logedInfo" class="item" th:href="${loginPage}" th:text="${loginPageText}"></a>
                    <div id="logoutInfo" class="ui simple dropdown item">
                        <i class="chevron circle down icon"></i>
                        <div class="menu">
                            <a class="item" th:href="${usersettingsPage}">Settings</a>
                            <a class="item" th:href="${logoutPage}">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui main text container">
            <h1 class="ui header">Change your thing</h1>
            <p>Please write your data to form</p>
            <form id="thingForm" class="ui form segment">
                <div class="field">
                    <label>Name:</label>
                    <input type="text" name="name" placeholder="name" th:value="${thing.name}"/>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Status:</label>
                        <div th:switch="${thing.status}">
                            <div th:case="'New'">
                                <select id="thingStatus" name="status" class="ui fluid search dropdown" >
                                    <option selected="true" value="1">New</option>
                                    <option value="2">Used</option>
                                </select>
                            </div> 
                            <div th:case="'Used'">
                                <select id="thingStatus" name="status" class="ui fluid search dropdown" >
                                    <option value="1">New</option>
                                    <option selected="true" value="2">Used</option>
                                </select>  
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Thing type:</label>
                        <select id="thingType" name="status" class="ui dropdown" >
                            <div th:each="thingtypes : ${thingtype}">
                                <option th:selected="(${thingtypes.id} == ${thing.thingtype.id})" th:value="${thingtypes.id}" th:text="${thingtypes.name}" ></option>
                            </div>
                        </select>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Description Url:</label>
                        <input th:value="${thing.url}" type="text" name="url" placeholder="url"/>
                    </div>
                    <div class="field">
                        <label>Description Url(alternative):</label>
                        <input th:value="${thing.url2}" type="text" name="url2" placeholder="url"/>
                    </div>
                </div>
                <div id="featuresForm" class="ui form segment">
                    <label>Features:</label>
                    <div class="ui green message">Positive
                        <i class="add square icon green large" onclick="addPositiveFeature()"></i>
                        <i class="minus square icon green large" onclick="deleteLastPositiveFeature()"></i>
                        <div id="positiveContener" >
                            <div th:each="featurePos : ${featuresPos}" class="inline fields"><i class="minus icon">
                                </i><input class="green" th:value=" ${featurePos.name}" type="text" name="nameFeature" placeholder="name"/>
                            </div>            
                        </div>
                    </div>
                    <div class="ui grey message">Neutral
                        <i class="add square icon grey large" onclick="addNeutralFeature()"></i>
                        <i class="minus square icon grey large" onclick="deleteLastNeutralFeature()"></i>
                        <div id="neutralContener" >
                            <div th:each="featureNeu : ${featuresNeu}" class="inline fields"><i class="minus icon">
                                </i><input class="green" th:value=" ${featureNeu.name}" type="text" name="nameFeature" placeholder="name"/>
                            </div> 
                        </div>
                    </div>
                    <div class="ui red message">Negative
                        <i class="add square icon red large" onclick="addNegativeFeature()"></i>
                        <i class="minus square icon red large" onclick="deleteLastNegativeFeature()"></i>
                        <div id="negativeContener" >
                            <div th:each="featureNeg : ${featuresNeg}" class="inline fields"><i class="minus icon">
                                </i><input class="green" th:value="${featureNeg.name}" type="text" name="nameFeature" placeholder="name"/>
                            </div> 
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Description:</label>
                    <textarea th:text="${thing.description}" type="text" name="description" placeholder="description"/>
                </div>
                <div class="field">
                    <div class="ui checkbox" th:if="${thing.access}=='on'" >
                        <input  id="access" type="checkbox" name="access" checked="true"/>
                        <label> Private access - users can search your thing.</label>
                    </div>
                    <div class="ui checkbox" th:if="${thing.access}=='off'" >
                        <input  id="access" type="checkbox" name="access"/>
                        <label> Private access - users can't search your thing.</label>
                    </div>
                </div>
                <button onclick="editThing()" class="ui button" type="button">Save <i class="save icon"></i></button>
            </form>
        </div>
        <div id="registerMessages">

            <div class="ui modal" id="newThingMessage">
                <i class="close icon"></i>
                <div class="header">
                    Thing Edit Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">A thing edit.</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui ok right labeled icon button">
                        Ok, thanks
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui modal" id="thingDataErrorMessage">
                <i class="close icon"></i>
                <div class="header">
                    Thing Edit Message
                </div>
                <div class="image content">
                    <div class="description">
                        <div class="ui header">Error data in form</div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui ok right labeled icon button">
                        Ok, thanks
                        <i class="checkmark icon"></i>
                    </div>
                </div>
            </div>
        </div> 
        <div class="ui inverted vertical footer segment">
            <div class="ui center aligned container">
                <div class="ui stackable inverted divided grid">
                    <div class=" wide column">
                        <h4 class="ui inverted header">E-thing information</h4>
                        <p>Here you can find more information</p>
                    </div>
                </div>
                <div class="ui inverted section divider"></div>
                <div class="ui horizontal inverted small divided link list">
                    <a class="item" >Contact Us</a>
                    <a class="item" >Terms and Conditions</a>
                    <a class="item" >Privacy Policy</a>
                </div>
            </div>
        </div>
    </body>
    <script>
        search();
        checkLoggedUser();
    </script>
</html>
